.container{
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    webkit-border-shadow:10px 10px 5px rgb(200,200,200);
    border-color: purple
}

.tablink{
  color: #ba68c8
}
.ryzh22{
  text-decoration: underline;
}

a{
  color: #ba68c8
}

input {
  color: #f3e5f5
}

h4 {
  text-align: center;
  color: #ba68c8
}

input.search_bar.purple.lighten-2 {
    width: 50%;
    height: 55px;
    padding-left: 10px;
    margin-left: 17%;
}
